.sw_ft{
	margin:0 auto;
	width:1200px;
	border-top:1px solid #e3e3e3;
	padding:26px 0 46px;
	font-size:12px;	
	text-align:center;
};
.sw_ft_nav{
	color:#666;
	height:25px;
	line-height:25px;
}
.sw_ft ul{
	margin:0 auto;
}
.sw_ft li{
	display:inline;
	border-right:1px solid #ccc;
	padding:0 10px;
	line-height:25px;
}
.sw_ft li.right_border{
	border-right:none;
}
.foot ul li{
	line-height:30px;
	border-right:none;
}
.foot p{
	line-height:25px;
	color:#9B9D9B;
}
.foot ul li{
	padding:0 5px;
	color:#333;
}