/*整体背景*/
.bg1,.bg2{
  width:100%;
  min-width: 1000px;
}
.bg1{ background: url(../img/index/tese/bg.jpg) center top no-repeat;
    background-color: #edfafc}
.bg2{  background: url(../img/index/tese/foot.jpg)center bottom no-repeat }
.main{width:1000px;margin:0 auto}
.head_logo, .nav, .con02_rg, .con03_rg{
  line-height: 999px;
  overflow: hidden;
}
/*头部图标，分享*/
.head{
  height: 310px;
  position: relative;
}
.head_logo{
  width:150px;
  height:161px;
  background: url(../img/index/sw_png8.png) 10px 10px no-repeat;
}
.head_logo a{display: block}
.page-share{
  color:#c16a1d;
  font-size: 16px;
  font-weight: bold;
  overflow: hidden;
  zoom: 1;
  position: absolute;
  top: 5px;
  right:200px;
  z-index: 11;
  width:200px;
}
.page-share p{float: left;line-height: 30px;  }
.page-share a{
  float: left;
  display: inline;
  width:38px;
  height:38px;
  overflow: hidden;
  margin-left: 3px;
  background: url(../img/index/share.png) no-repeat;
  cursor: pointer;
}
.page-share .qzone{background-position: -48px 0}
.page-share .weibo{background-position: 0 0}
.page-share .weixin{background-position: -96px 0}
/*nav*/
.nav ,.nav a:hover{background: url(../img/index/tese/nav.jpg) 0 0 no-repeat}
.nav{width:753px;
  height: 48px;}
.nav li{float: left}
.nav li a{
  display: block;
  float: left;
  height:48px;
}
.nav01 a{width:153px}
.nav01 a:hover{background-position: 0 -48px}
.nav02 a{width:151px}
.nav02 a:hover{background-position: -153px -48px;}
.nav03 a{width:113px;}
.nav03 a:hover{background-position: -304px -48px}
.nav04 a{width:112px}
.nav04 a:hover{background-position: -417px -48px;}
.nav05 a{width:113px}
.nav05 a:hover{background-position: -529px -48px;}
.nav06 a{width:111px}
.nav06 a:hover{background-position: -642px -48px;}
/*主体一*/
.con02{clear: both}
.con02_1f{width:465px;  float: left}
.con02_1f h2{width:445px;height:82px;}
.tt01, .tt02, .tt03{
  background: url(../img/index/tese/tt.jpg) no-repeat;
  margin:36px 0 0 20px;
}
.tt02{background-position: 0 -82px;}
.con02_1f span{float:left;
  display: inline;
  margin:10px 0 0 10px;
}
.bg1 .num{
  float: left;
  width:90px;
  height:82px;
  margin:0;
  background: url("../img/index/tese/tt.jpg");
}
.con02_1f h2 a{
  color:#b94343;
  padding:62px 0 0 270px;
  display: block;
}
.con02_1f p{
  line-height: 22px;
  margin:20px 30px 13px 30px;
  text-indent: 2em;
}
.con01 p a, .con02_1f p a, .con06_1f p a{
   color: #b94343;
 }
.con02_rg{
  height: 245px;
  background: url(../img/index/tese/pic2.png) 10px 50px no-repeat;
}
.con02_rg, .con03_rg, .con04_rg, .con05_rg{
  width:535px;
  float:left;
}
.con02_rg ul{width:530px;margin-top: 110px;}
.con02_rg ul li{
  width:120px;
  height:110px;
  float:left;
  padding-left: 10px;
}
.con02_rg ul li a{width:100%;height:100%}
/*主体二*/
.tt03{background-position: 0 -164px;}
.tt03 .num{background-position: 0 -82px;}
.con03_rg{height: 315px;background: url(../img/index/tese/pic3.jpg) 0 0 no-repeat}
.con03_rg a{
  width:520px;
  height:300px;
  display: block;
}
/*三*/
.tt04, .tt05, .tt06{background: url(../img/index/tese/tt.jpg)}
.tt04{background-position: 0 -246px;margin-left: 20px;}
.tt04 .num{background-position: 0 -164px;}
.con04_rg{height: 255px;
background: url(../img/index/tese/pic4.jpg) 10px 20px no-repeat}
.con04_rg a.tu01{
  display: block;
  float: left;
  width: 25px;
  height:240px;
}
/*四*/
.tt05{
  background-position: 0 -328px;
  margin:26px 0 0 20px;
}
.tt05 .num{background-position: 0 -246px;}
.con02_1f span a,.con06_1f span a{
  float: left;
  display: inline-block;
  width:189px;
  height:138px;
  padding:5px 0 0 4px;
  margin-left: 20px;
  background: url("../img/index/tese/pic_5bg.jpg") left top no-repeat;
}
/*五*/
.con06_1f{width:520px;float: left}
.con06_1f h2{width:460px;height:82px;}
.con06_1f h2 a{color: #b94343;display: block;padding:60px 0 0 275px;}
.con06_1f p{line-height: 22px;padding:20px 45px 13px 60px;text-indent: 2em;}
.tt06{background-position: 0 -410px;margin:26px 0 0 40px;}
.tt06 .num{background-position: 0 -328px;}
.con06_1f span {
  float: left;margin:30px 0 0 45px;}
/*底部*/
#FOOT{
  width:1000px;
  height:91px;
  margin:0 auto;
  padding:50px 0 30px 0;
  color:#000;
  clear: both;
}
.foot_logo{
  width:280px;
  height:46px;
  margin:30px 0 0 242px;
  float: left;
}
.foot_logo a{
  background: url(../img/index/logodark.png) no-repeat 0 0;
  display: block;
  width: 100%;
  height:100%;
  cursor: pointer;
}
.copyright{
  width:300px;
  float: left;
  margin:30px 0 0 20px;
  font-size: 12px;
  line-height: 1.5;
}
.copyright p{
  text-align: left;
}
